.a {
    background-color:#bfa8f5;
    padding: 20px;
    text-align: center;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ad6cf8;
    color: #f8f8f8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: right; 
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #c6a4e2;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #ac7dc7;
    }
    tr:nth-child(even) {
        background-color: #e6c8ff;
    }
    h1{
        text-align: center;
    }